* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  width: 100%;
  height: 100vh;
  padding: 20px 30px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}
header nav ul {
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
header nav ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500px;
  color: black;
}
header nav .menu--icon {
  display: none;
}

.second {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 80px;
}
.second .second--text {
  width: 40%;
}
.second .second--text .second--text--big {
  width: 100%;
}
.second .second--text .second--text--big p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0px;
  text-align: left;
}
.second .second--text .second--text--small {
  width: 100%;
}
.second .second--text .second--text--small p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
.second .second--text button {
  width: 100%;
  background-color: #ff6464;
  border: none;
  height: 47px;
  width: 208px;
  left: 148px;
  top: 477px;
  border-radius: 2px;
}
.second .second--text button a {
  color: white;
  font-family: Heebo;
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
}
.third {
  width: 100%;
  height: 370px;
  background-color: #edf7fa;
  margin-top: 50px;
}
.third .third--title {
  padding-top: 20px;
  padding-left: 120px;
  font-size: 22px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0px;
  text-align: left;
}
.third .third--card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.third .third--card .third--card--make {
  width: 420px;
  height: 250px;
  background-color: white;
}
.third .third--card .third--card--make .third--card--make--big .make--big {
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
}
.third .third--card .third--card--make .third--card--make--little .date--design {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.third .third--card .third--card--make .third--card--make--little .date--design p {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}
.third .third--card .third--card--make .third--card--make--little .text .text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
.third .third--card .third--card--create {
  width: 420px;
  height: 250px;
  background-color: white;
}
.third .third--card .third--card--create .third--card--create--big .create--big {
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
}
.third .third--card .third--card--create .third--card--create--little .date--design {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.third .third--card .third--card--create .third--card--create--little .date--design p {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}
.third .third--card .third--card--create .third--card--create--little .text .text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.forth {
  width: 100%;
}
.forth .forth--title {
  margin-top: 20px;
}
.forth .forth--title p {
  height: 60px;
  width: 152px;
  left: 148px;
  top: 1006px;
}
.forth .forth--photos--info {
  display: flex;
  flex-direction: column;
}
.forth .forth--photos--info .designing {
  display: flex;
}
.forth .forth--photos--info .designing .info {
  padding-left: 30px;
}
.forth .forth--photos--info .designing .info .info--heading {
  font-family: Heebo;
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0px;
  text-align: left;
}
.forth .forth--photos--info .designing .info .year--dash {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
  padding-bottom: 10px;
}
.forth .forth--photos--info .designing .info .year--dash button {
  border: none;
  border-radius: 10px;
  background: #142850;
  color: white;
  font-size: 18px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
}
.forth .forth--photos--info .designing .info .year--dash .dash {
  color: #8695a4;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0px;
  text-align: left;
}
.forth .forth--photos--info .designing .info p {
  font-family: Heebo;
  font-size: 28px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
.forth .forth--photos--info hr {
  margin-top: 2em;
  margin-bottom: 2em;
  border: 3px solid grey;
  background-color: grey;
  border-radius: 2px;
  text-align: center;
}

.fifth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
}
@media (max-width: 576px) {
  nav ul {
    display: none !important;
  }
  .menu--icon {
    display: block !important;
  }
  .second {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .second .second--text {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .second .second--text .second--text--big p {
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
  }
  .second .second--text .second--text--small p {
    font-size: 7.5px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
  }
  .third {
    width: 100%;
    height: 700px;
    background-color: #edf7fa;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
  }
  .third .third--title {
    padding-top: 20px;
    font-size: 22px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: center;
  }
  .third .third--card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
  }
  .third .third--card .third--card--make {
    width: 420px;
    height: 250px;
    background-color: white;
  }
  .third .third--card .third--card--make .third--card--make--big .make--big {
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
  }
  .third .third--card .third--card--make .third--card--make--little .date--design {
    display: flex;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .third .third--card .third--card--make .third--card--make--little .date--design p {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .third .third--card .third--card--make .third--card--make--little .text .text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  }
  .third .third--card .third--card--create {
    width: 420px;
    height: 250px;
    background-color: white;
  }
  .third .third--card .third--card--create .third--card--create--big .create--big {
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
  }
  .third .third--card .third--card--create .third--card--create--little .date--design {
    display: flex;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .third .third--card .third--card--create .third--card--create--little .date--design p {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .third .third--card .third--card--create .third--card--create--little .text .text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  }
  .forth {
    width: 100%;
  }
  .forth .forth--title {
    margin-top: 20px;
  }
  .forth .forth--title p {
    height: 60px;
    width: 152px;
    left: 148px;
    top: 1006px;
  }
  .forth .forth--photos--info {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }
  .forth .forth--photos--info .designing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .forth .forth--photos--info .designing .photo img {
    width: 390px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .forth .forth--photos--info .designing .info {
    padding-left: 30px;
  }
  .forth .forth--photos--info .designing .info .info--heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
  }
  .forth .forth--photos--info .designing .info .year--dash {
    display: flex;
    -moz-column-gap: 30px;
         column-gap: 30px;
    align-items: center;
    padding-bottom: 10px;
  }
  .forth .forth--photos--info .designing .info .year--dash button {
    width: 62px;
    left: 0px;
    text-align: center;
    border-radius: 16px;
  }
  .forth .forth--photos--info .designing .info .year--dash .dash {
    font-size: 16px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: center;
  }
  .forth .forth--photos--info .designing .info p {
    font-family: Heebo;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  }
  .forth .forth--photos--info hr {
    margin-top: 2em;
    margin-bottom: 2em;
    border: 3px solid grey;
    background-color: grey;
    border-radius: 2px;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */